body {
    background-color: #9ccdff;
    margin: 0;
    font-family: Arial, sans-serif;
}

.sidebar {
    height: 100%;
    width: 60px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    transition: width 0.3s;
    overflow-x: hidden;
}

.sidebar .toggle-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #111;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.sidebar-content {
    display: none;
}

.sidebar.expanded {
    width: 200px;
}

.sidebar.expanded .sidebar-content {
    display: block;
}

.sidebar h2 {
    color: white;
    text-align: center;
    margin-top: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

.sidebar ul li {
    padding: 8px;
    text-align: center;
    margin-bottom: 5px;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
    position: relative;
}

.sidebar ul li a .arrow {
    font-size: 10px;
    transition: transform 0.3s;
}

.sidebar ul li a:hover {
    background-color: #575757;
    padding: 4px;
}

.courses-list {
    display: none;
    padding-left: 20px;
}

.courses-list li {
    text-align: left;
}

.admin-only {
    display: none;
}

.main-content {
    margin-left: 80px;
    padding: 20px;
    transition: margin-left 0.3s;
}

.main-content p {
    margin-left: 40px;
}

.main-content.expanded {
    margin-left: 220px;
}

@media screen and (max-width: 600px) {
    .sidebar, .main-content {
        width: 100%;
        height: auto;
        margin-left: 0;
    }
    .main-content {
        margin-left: 0;
    }
}

.logo {
    background-color: white;
    border-radius: 6px;
    margin-left: 500px;
}

.main-content ul {
    list-style-type: none; /* Remove os marcadores da lista */
    padding: 0;
    margin: 20px 0; /* Espaçamento superior e inferior */
}

.main-content ul li {
    margin-bottom: 15px; /* Espaçamento entre os itens da lista */
}

.admin-only a {
    display: block; /* Faz o link ocupar toda a largura do item */
    background-color: #007BFF; /* Cor de fundo azul */
    color: white;
    padding: 12px 20px; /* Espaçamento interno */
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 30%;
}

.admin-only a:hover {
    background-color: #0056b3; /* Azul mais escuro ao passar o mouse */
    transform: scale(1.05); /* Leve aumento de tamanho */
}

.admin-only a:active {
    background-color: #004494; /* Azul ainda mais escuro ao clicar */
}

.admin-only-menu {
    background-color: #0056b3;
    color: white;
}